/*<<<HACK-1>>>*/

.hackbanner .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  z-index:1;
  display:none;
}
 
.hackbanner .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:darkmagenta;
  color: whitesmoke;
  border: 10px;
  border-color: blue;
  border-radius: 60px;
  border-style: groove;
  padding: 30px;
  width:500px;
  height:250px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}
 
.hackbanner .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;;
}
 
.hackbanner.active .overlay {
  display:block;
}
 
.hackbanner.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

/*<<<HACK-2>>>*/

.hackbanner2 .content {
  position:absolute;
  top:50%;
  left:75%;
  transform:translate(-50%,-50%) scale(0);
  background:darkmagenta;
 
  border: 10px;
  border-color: blue;
  border-radius: 60px;
  border-style: groove;
  width:250px;
  height:500px;
  z-index:2;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}
 
.hackbanner2 .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:rgb(4, 33, 200);
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;;
}
 
.hackbanner2.active .overlay {
  display:block;
}
 
.hackbanner2.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}


.hackbanner2 .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  z-index:1;
  display:none;
}


/*<<<EGYÉBB>>>*/

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button {
  position:absolute;
  top:5%;
  left:5%;
  transform:translate(-50%,-50%);
  padding:15px;
  font-size:18px;
  border:2px solid #222;
  color:#222;
  text-transform:uppercase;
  font-weight:600;
  background:#fff;
}



#btnstart{
  padding:15px;
  font-size:18px;
  border:2px solid #222;
  color:whitesmoke;
  text-transform:uppercase;
  font-weight:600;
  background:green;
}

#hacklodbar2{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 60px;
  background-color: fuchsia;
  color: whitesmoke;
  text-align: center;
  height: 480px;
  text-underline-position: initial;
}

body{
  background-color: rgb(56, 55, 55);
}

/*>>>GAME<<<*/

.led{
  padding: 15px;
  margin-left: 5px;
  background-color: rgb(243, 73, 235);
}
